<div class="limiter">
    <div class="container-login100">
        <div class="container">
          <div class="box">
            <div class="imgBx">
              <img src="assets/assets/images/download.png">
            </div>
            <div class="content">
              <div>
                <a routerLink="adminlogin"  href="adminlogin">
                <h2>Admin Login</h2>
              </a>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="imgBx">
              <img src="assets/assets/images/images.png">
            </div>
            <div class="content">
              <div>
                <a routerLink="coachlogin" href="coachlogin">
                <h2>Coach Login</h2>
              </a>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="imgBx">
              <img src="assets/assets/images/download1.png">
            </div>
            <div class="content">
              <div>
                <a routerLink="memberlogin" href="memberlogin">
                <h2>Member Login</h2>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </div>
  
  
  
  
  <!--===============================================================================================-->	
  <script src="assets/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="assets/vendor/bootstrap/js/popper.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="assets/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="assets/vendor/tilt/tilt.jquery.min.js"></script>
  <script >
    $('.js-tilt').tilt({
      scale: 1.1
    })
  </script>
  <!--===============================================================================================-->
  <script src="assets/js/main.js"></script>




  <router-outlet></router-outlet>