



<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html"><h2>Cricket <em>Club</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="home" href="home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="about" routerLinkActive="active" href="about">About Us</a>
            </li>
  
            <li class="nav-item" *ngIf="authservice.loggedIn()">
              <a class="nav-link"  routerLink="services" routerLinkActive="active" href="services">Ground Booking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact" routerLinkActive="active" href="contact">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="functional-buttons">
          <ul>
            <li><a *ngIf="!authservice.loggedIn()" routerLink="login" href="login">Log in or sign up</a></li>
            <li><a style="cursor: pointer;" *ngIf="authservice.loggedIn()" (click)="authservice.logout()" >Log out</a></li>
            <!--<li><a href="#">Sign Up</a></li>-->
          </ul>
        </div>
      </div>
    </nav>
  </header>
<router-outlet></router-outlet>