<table class="table">
    <thead>
      <tr>
        <th><abbr title="Position">Name</abbr></th>
        <th>Email</th>
        <th><abbr title="Played">Coach Type</abbr></th>
        <th><abbr title="Won">Age</abbr></th>
        <th><abbr title="Drawn">Mobile Number</abbr></th>
     <!--   <th><abbr title="Lost">L</abbr></th>
        <th><abbr title="Goals for">GF</abbr></th>
        <th><abbr title="Goals against">GA</abbr></th>
        <th><abbr title="Goal difference">GD</abbr></th>
        <th><abbr title="Points">Pts</abbr></th> 
        <th>Address</th>  -->
      </tr>
    </thead>
    <tbody *ngFor ="let coach of coaches">
        <tr>
          <th>{{ coach.name }}</th>
          <td>{{ coach.email }}</td>
          <td>{{ coach.coachtype }}</td>
          <td>{{ coach.age }}</td>
          <td>{{ coach.mobile_number }}</td>
        <!--  <td>3</td>
          <td>68</td>
          <td>36</td>
          <td>+32</td>
          <td>81</td> -->
          <td hidden>{{ coach.cid}} </td>
        </tr>

    </table>
