<table class="table">
    <thead>
      <tr>
        <th><abbr title="Position">Name</abbr></th>
        <th>Email</th>
        <th><abbr title="Played">Player Type</abbr></th>
        <th><abbr title="Won">Date Of Birth</abbr></th>
        <th><abbr title="Drawn">Mobile Number</abbr></th>
     <!--   <th><abbr title="Lost">L</abbr></th>
        <th><abbr title="Goals for">GF</abbr></th>
        <th><abbr title="Goals against">GA</abbr></th>
        <th><abbr title="Goal difference">GD</abbr></th>
        <th><abbr title="Points">Pts</abbr></th>  -->
        <th>Address</th>
      </tr>
    </thead>
    <tbody *ngFor ="let member of members">
        <tr>
          <th>{{ member.name | uppercase }}</th>
          <td>{{ member.email }}</td>
          <td>{{ member.player_type }}</td>
          <td>{{ member.dob | date: 'dd - MM - yyyy' }}</td>
          <td>{{ member.mobile_number }}</td>
        <!--  <td>3</td>
          <td>68</td>
          <td>36</td>
          <td>+32</td>
          <td>81</td> -->
          <td>{{ member.address}} </td>
        </tr>

    </table>
