<div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-pic js-tilt" data-tilt>
          <img src="assets/assets/images/download1.png" alt="IMG">
        </div>
         
        <form class="login100-form validate-form" method="POST">
          <span class="login100-form-title" >
            Member Registration 
          </span>
          <div>{{ message }} </div>
          <div class="wrap-input100 validate-input" data-validate = "valid name">
            <input class="input100" type="text" #MemberName name="name" placeholder="Name">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>

          <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
            <input class="input100" type="text" #MemberEmail name="email" placeholder="Email">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          </div>

         

          <div class="wrap-input100 validate-input" data-validate = "Password is required">
            <input class="input100" type="password" #MemberPassword name="password" placeholder="Password">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
          </div>

          <div class="wrap-input100 validate-input" data-validate = "Date formate">
            <input class="input100" type="date" #MemberDob name="dob" placeholder="Date Of Birth">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
          </div>

          <div class="wrap-input100 validate-input" data-validate = "Enter the valid Player type">
            <input class="input100" type="text" #MemberPlayerType name="player_type" placeholder="Player Type">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-soccer-ball-o" aria-hidden="true"></i>
            </span>
          </div>

          <div class="wrap-input100 validate-input" data-validate = "Enter the valid mobile number">
            <input class="input100" type="text" #MemberMobile name="mobile_number" placeholder="mobile Number">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-mobile-phone" aria-hidden="true"></i>
            </span>
          </div>


          <div class="wrap-input100 validate-input" data-validate = "Enter the valid address">
            <input class="input100" type="textarea" #MemberAddress name="Address" placeholder="Address">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </span>
          </div>
          
          <div class="container-login100-form-btn">
            <button class="login100-form-btn" (click)="member_registration(MemberName.value, MemberEmail.value, MemberPassword.value, MemberDob.value, MemberPlayerType.value, MemberMobile.value, MemberAddress.value)">
              Register
            </button>
          </div>
  
      <!--    <div class="text-center p-t-12">
            <span class="txt1">
              Forgot
            </span>
            <a class="txt2" href="#">
              Username / Password?
            </a>
          </div> -->
  
  <!--        <div class="text-center p-t-136">
            <a class="txt2" href="#">
              Create your Account
              <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
            </a>
          </div>-->
        </form>
        
      </div>
    </div>
  </div>
  
  
  
  
  <!--===============================================================================================-->	
  <script src="assets/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="assets/vendor/bootstrap/js/popper.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="assets/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="assets/vendor/tilt/tilt.jquery.min.js"></script>
  <script >
    $('.js-tilt').tilt({
      scale: 1.1
    })
  </script>
  <!--===============================================================================================-->
  <script src="assets/js/main.js"></script>